.custom-table {
	border-collapse: collapse;
	margin: 10px 0;
}

.custom-table td, .custom-table th {
  padding: 0.6rem 1rem;
  text-align: center;

  &:first-child {
  	text-align: left;
  }
}

.custom-table th {
	background-color: #9ED7E7;
}

.custom-table tr {
	&:nth-child(even) {
		background-color: #E2F3F9;
	}
}

.apent-table td, .apent-table th {
	padding: 0.6rem 1.5rem; 

	&:first-child {
		text-align: center;
	}
}