@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

.fc h2 {
	font-size: 1.5em;
	text-transform: capitalize;
	text-align: center;
}

.fc-button-primary {
	background-color: #009DD1;
    border-color: #009DD1;

    &:hover {
    	background-color: #003D52;
    }
}

.fc-day-header {
	height: 1.5rem;
	background-color: #009DD1;
	color: #FFF;
	font-family: 'Roboto Regular';
	font-weight: bold;

	span {
		vertical-align: middle;
	}
}

.fc-event {
	background-color: #009DD1;
	border-color: #009DD1; 
}

.fc-unthemed td.fc-today {
	background: #E2F3F9;
}