.featuredImg {
	height: 215px;
	object-fit: cover;
}

.newsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 3rem;
}

.postContainer {
	max-width: 360px;
	min-width: 301px;
	display: flex;
	flex: 1 auto;
	flex-direction: column;
	margin-right: 15px;
	margin-bottom: 35px;

	h2, h3, p {
		margin: unset;
		margin-top: 5px;
	}
}

.excerpt {
	flex: 1;
	width: 300px;
	font-family: Roboto;
	font-size: 1.1em;
}

h3 {
	font-family: 'Lato Regular';
	font-weight: normal;
	font-size: 1.3em;
}

.postDetails {
	display: flex;
	justify-content: space-between;
}

.postDate {
	font-family: Roboto;
	font-weight: normal;
	font-size: 1rem;
}